<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "components/include.base.head.njk" %}

<!-- Body -->
<body class="bg:gray-100 color:gray-800 font:sans leading:150 tracking:tight">
    <div class="wrapper block w:100p max-w:100p">

        <!-- Header -->
        {% include "components/include.nav.header.njk" %}

        <!-- Page Content -->
        {{ content | safe }}

        <!-- Footer -->
        {% include "components/include.nav.footer.njk" %}

    </div>

    <!-- Scripts -->
    {% include "components/include.base.scripts.njk" %}

</body>

</html>