<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <title>{{ seoTitle }}</title>
    <meta name="description" content="{{ seoDesc }}">

    <!-- OpenGraph -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ socialTitle }}" />
    <meta property="og:description" content="{{ socialDesc }}" />
    <meta property="og:url" content="{{ site.url }}{{ url }}" />
    <meta property="og:image" content="{{ site.url }}{{ socialImg }}" />
    <meta property="og:image:alt" content="{{ socialImgAlt }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ site.twitterHandle }}">
    <meta name="twitter:title" content="{{ socialTitle }}">
    <meta name="twitter:description" content="{{ socialDesc }}">
    <meta name="twitter:image" content="{{ site.url }}{{ socialImg }}">
    <meta name="twitter:image:alt" content="{{ socialImgAlt }}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />

    <!-- Website Icon -->
    <link rel="icon" href="{{ '/assets/img/favicon.png' | url }}">
</head>