<header class="w:100p flex flex:col align-items:center justify-content:start bg:white py:16">
    <div class="w:100p max-w:1152 flex flex:row align-items:center justify-content:between">
        <p class="bold"><span class="color:yellow-300">cheese</span>.design</p>
        <p>a starting point</p>
    </div>
</header>