---
layout: main.njk
title: "Cheese"
seoTitle: "Cheese - Content for average designers"
seoDesc: "Less pompous, more potent. Debunking unicorns. Normalizing being normal. Trying to be helpful along the way."
socialImg: /assets/images/social/social-content.jpg
socialImgAlt: "An abstract illustration of a browser window with content with gradients and boxes"
socialTitle: "Cheese : Content for average designers"
socialDesc: "Less pompous, more potent. Debunking the unicorns. Normalizing being normal. Trying to be helpful along the way."
changefreq: daily
---

<section class="w:100p flex flex:col align-items:center justify-content:start min-h:640 py:128">
    <div class="w:100p max-w:1152 flex flex:col align-items:start">
        <h1 class="font:6xl bold color:gray-900"> Welcome to cheese.design</h1>
        <p class="mb:16">A place for average designers to share and make stuff</p>
        <a href="https://github.com/stillingdesign/cheese" target="_blank" class="flex px:12 py:8 semibold bg:lime-300 hover:bg:lime-400 transition:200 radius:md">
            View on GitHub
        </a>
    </div>
</section>